<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <title>Anime Tracker</title>
</head>
<body>
   <table class="table">
            <tr>
                <th><h2>Title</h2></th>
                <th><h2>Last Episode</h2></th>
                <th><h2>Status</h2></th>
                <th><h2>Actions</h2></th>
            </tr>
            {{ range . }}
            <tr>
                <td><h4><a href="http://animeshow.tv/{{.Title}}/">{{.Title}}</a></h4></td>
                <td>{{.Episode}}</td>
                <td>{{ if .Completed }} <strong>Completed</strong> {{ else }} <strong>On going</strong> {{end}}</td>
                <td>
                    <table class="table">
                        <tr>
                            <form action="/anime/increment" method="POST">
                                <input type="hidden" name="Title" value="{{.Title}}">
                                <input type="submit" value="Increment">
                            </form>
                        </tr>
                        <tr>
                            <form action="/anime/complete" method="POST">
                                <input type="hidden" name="Title" value="{{.Title}}">
                                <input type="submit" value="Complete">
                            </form>
                        </tr>
			<tr>
			  <form action="/anime/remove" method="POST">
			    <input type="hidden" niame="Title" value="{{.Title}}">
			    <input type="submit" value="Remove">
			  </form>
                    </table>
                </td>
            </tr>
            {{ end }}
    </table>

    <h1>Add an anime</h1>
    <form action="/anime/add" method="POST">
        <input type="text" name="title" placeholder="Anime Title">
        <br>

        <input type="text" name="episode" placeholder="Last viewed episode">
        <br>
        <br>

        <input type="submit" value="Add anime">
    </form>
 
</body>
</html>
